<!DOCTYPE HTML>
<html lang="tw-zh">

<head>
   <title>你好！我是謝政剛</title>
   <meta name="keywords" content="ChengKang">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="這是謝政剛的履歷表">
   <meta property="og:title" content="你好!我是謝政剛" />
   <meta property="og:description" content="這是謝政剛的履歷表" />
   <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
   <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
   <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
   <!-- Google tag (gtag.js) -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-CERVPMR8LC"></script>
   <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'G-CERVPMR8LC');
   </script>


</head>

<body>


   <div id="loading-mask">
      <div class="lds-facebook">
         <div style="
               background-color: antiquewhite;
         "></div>
         <div style="
               background-color: antiquewhite;
         "></div>
         <div style="
               background-color: antiquewhite;
         "></div>
      </div>
   </div>
   <!-- <div id="loadingline">
      <div class="lds-facebook">
         <div style="
               background-color: antiquewhite;
         "></div>
         <div style="
               background-color: antiquewhite;
         "></div>
         <div style="
               background-color: antiquewhite;
         "></div>
      </div>
   </div> -->
   <div id="app">
      <v-app id="main">
         <v-main>

            <div>
               <v-progress-linear style="width: 100%;
               position: -webkit-sticky;
               position: fixed;
               top: 0;
               z-index: 1050" v-model="readPercentage"></v-progress-linear>
            </div>


            <v-alert :type="AlertType" :value="isAlertOpen" transition="fade-transition" style="z-index: 99999; 
                      position: fixed; 
                      left: 50%;
                      transform: translateX(-50%);">
               {{AlertMessage}}
            </v-alert>
            <v-container>

               <v-row no-gutters>
                  <v-card elevation="2" outlined style="padding:5px">
                     <v-card-text>
                        <v-row>
                           <v-col cols="12" sm="4" md="4">
                              <v-row>
                                 <!--照片區-->
                                 <div style="display:block; margin:auto;">
                                    <v-img max-height="345" max-width="250" src="img/bigheadpic.jpg"></v-img>
                                 </div>


                              </v-row>
                              <v-row>
                                 <v-col align="center" justify="center">
                                    <!--社交連結-->

                                    <a class="icon icon-facebook" href="#facebook"></a>
                                    <a class="icon icon-github" href="https://github.com/cs60811" target="_blank"></a>
                                    <a class="icon icon-instagram" href="#"></a>
                                    <a class="icon icon-linkedin" href="google.com.tw"></a>
                                    <a class="icon icon-mail" href="#" @click="isdialogVisiable = true"
                                       id="DemoStep3"></a>
                                    <v-tooltip v-model="displayTooltip" bottom>
                                       <template v-slot:activator="{ on, attrs }">
                                          <a href="#" @click="onDemoClick()" v-bind="attrs" v-on="on"
                                             class="icon icon-demo"></a>

                                       </template>

                                       <span>這裡可以幫你導覽履歷唷!</span>
                                    </v-tooltip>
                                 </v-col>




                              </v-row>
                           </v-col>
                           <v-col cols="12" sm="8" md="8">
                              <v-row>
                                 <div id="DemoStep1">
                                    <h1>{{ChineseName}}</h1>
                                    <h3>{{EnglishName}}</h3>
                                 </div>
                              </v-row>
                              <v-row>
                                 {{Introduction}}
                              </v-row>

                              <v-row>
                                 <v-divider></v-divider>
                              </v-row>
                              <v-row style="display: flex;flex-wrap: nowrap;">
                                 <div id="DemoStep2">
                                    <span>- C# ( 7 years exp.)</span>
                                    <br>
                                    - Delphi ( 2 years exp.) <br>
                                    - Vue / Js / Html ( 6 years exp.)<br>
                                    - PLSQL(Oracle) ( 8 years exp.)<br>
                                    - MsSql ( 7 years exp.)<br>
                                    - Java ( 2 years exp.)<br>
                                 </div>
                                 <div id="chartdiv" style="width: 100%;height: 200px;"></div>

                              </v-row>

                           </v-col>
                        </v-row>
                        <v-row>
                           <v-divider></v-divider>
                        </v-row>

                        <v-row>
                           <v-col>
                              <v-row>
                                 <v-col>
                                    <h1>經歷 Experience</h1>
                                 </v-col>
                              </v-row>
                              <v-row>
                                 <v-col>
                                    <v-timeline align-top dense>
                                       <v-timeline-item small v-for="(item, index) in ExperienceList"
                                          :key="index.Title">
                                          <v-row>
                                             <v-col cols="12" md="2">
                                                <strong>{{item.Range}}</strong>
                                             </v-col>
                                             <v-col cols="12" md="10">
                                                <h2>{{item.Title}}</h2>
                                                <p v-html="item.Content"></p>
                                                <!-- <p>圖片區</p> -->
                                             </v-col>

                                          </v-row>

                                       </v-timeline-item>
                                    </v-timeline>
                                 </v-col>
                              </v-row>


                           </v-col>
                        </v-row>
                        <v-row>
                           <v-col>
                              <v-row>
                                 <v-col>
                                    <h1>參與專案 Project</h1>
                                 </v-col>
                              </v-row>
                              <v-row v-for="(item, index) in ProjectList" :key="index.id">
                                 <v-col cols="2" align="center" justify="center">
                                    <h3>
                                       {{item.title}}
                                    </h3>

                                 </v-col>
                                 <v-col cols="10">
                                    <v-row>
                                       <v-col>
                                          {{item.content}}
                                       </v-col>
                                    </v-row>
                                    <v-row v-if="item.imgs  != undefined">
                                       <v-col :col="item.imgs.lenth/12" v-for="(picSrc, picindex) in item.imgs"
                                          :key="picindex">
                                          <v-img max-height="150" max-width="250" :src="picSrc"></v-img>
                                       </v-col>
                                    </v-row>

                                    <v-row>
                                       <v-col>
                                          <v-row>
                                             <!--TODO 在小視窗時整齊排列-->
                                          </v-row>
                                          <p v-if="item.technologys != undefined">
                                             使用技術 :
                                             <v-chip small color="blue" text-color="white"
                                                v-for="(tec, tecnidex) in item.technologys" :key="tecnidex"
                                                style="margin-left: 3px;">
                                                {{tec}}
                                             </v-chip>
                                          </p>
                                          <p v-if="item.tools != undefined">
                                             使用工具 :
                                             <v-chip small color="blue" text-color="white"
                                                v-for="(too, tooidex) in item.tools" :key="tooidex"
                                                style="margin-left: 3px;">
                                                {{too}}
                                             </v-chip>
                                          </p>

                                       </v-col>

                                    </v-row>
                                    <v-row v-if="item.pic != undefined && item.pic.length > 0">
                                       <v-col v-for="(path, index) in item.pic" :key="index">

                                          <el-image style="width: 200px; height: 150px" :src="path" :zoom-rate="1.2"
                                             :preview-src-list="item.pic" fit="cover" />

                                       </v-col>
                                    </v-row>


                                 </v-col>
                              </v-row>
                           </v-col>
                        </v-row>
                        <v-row>
                           <v-divider></v-divider>
                        </v-row>
                        <v-row>
                           <v-col>
                              <v-row>
                                 <v-col>
                                    <h1>其他說明 Other</h1>
                                 </v-col>
                              </v-row>
                              <v-row v-for="(item, index) in SidePorjectList" :key="index.id">
                                 <v-col cols="2" align="center" justify="center">
                                    <h3>
                                       {{item.title}}
                                    </h3>

                                 </v-col>
                                 <v-col cols="10">
                                    <v-row>
                                       <v-col>
                                          {{item.content}}
                                       </v-col>
                                    </v-row>
                                    <v-row v-if="item.imgs  != undefined">
                                       <v-col :col="item.imgs.lenth/12" v-for="(picSrc, picindex) in item.imgs"
                                          :key="picindex">
                                          <v-img max-height="150" max-width="250" :src="picSrc"></v-img>
                                       </v-col>
                                    </v-row>

                                    <v-row>
                                       <v-col>
                                          <v-row>
                                             <!--TODO 在小視窗時整齊排列-->
                                          </v-row>
                                          <p v-if="item.technologys != undefined">
                                             使用技術 :
                                             <v-chip small color="blue" text-color="white"
                                                v-for="(tec, tecnidex) in item.technologys" :key="tecnidex"
                                                style="margin-left: 3px;">
                                                {{tec}}
                                             </v-chip>
                                          </p>
                                          <p v-if="item.tools != undefined">
                                             使用工具 :
                                             <v-chip small color="blue" text-color="white"
                                                v-for="(too, tooidex) in item.tools" :key="tooidex"
                                                style="margin-left: 3px;">
                                                {{too}}
                                             </v-chip>
                                          </p>

                                       </v-col>

                                    </v-row>
                                    <v-row v-if="item.pic != undefined && item.pic.length > 0">
                                       <v-col v-for="(path, index) in item.pic" :key="index">

                                          <el-image style="width: 200px; height: 150px" :src="path" :zoom-rate="1.2"
                                             :preview-src-list="item.pic" fit="cover" />

                                       </v-col>
                                    </v-row>


                                 </v-col>
                              </v-row>

                           </v-col>

                        </v-row>
                     </v-card-text>


                  </v-card>
               </v-row>
            </v-container>
            <v-dialog v-model="isdialogVisiable" width="500">

               <v-card>
                  <v-card-title class="text-h5 grey lighten-2">
                     與我聯繫
                  </v-card-title>

                  <v-card-text>
                     <v-container>
                        <v-row>
                           <v-col>
                              <v-form ref="form">
                                 <v-text-field v-model="form.name" :counter="10" :rules="rules.name" label="大名"
                                    required></v-text-field>
                                 <v-text-field v-model="form.email" label="信箱" :rules="rules.email" required>
                                 </v-text-field>
                                 <v-textarea v-model="form.conetnt" :counter="500" label="內容" :rules="rules.conetnt"
                                    required>
                                 </v-textarea>
                                 <div>
                                    <p>
                                       履歷評分 :
                                       <v-rating v-model="form.level" small hover length="5"></v-rating>
                                    </p>

                                 </div>
                              </v-form>
                           </v-col>
                        </v-row>
                     </v-container>
                  </v-card-text>

                  <v-divider></v-divider>

                  <v-card-actions>
                     <v-spacer></v-spacer>
                     <v-btn color="primary" text @click="onSendMail()">
                        送出
                     </v-btn>
                  </v-card-actions>
               </v-card>


            </v-dialog>


         </v-main>
      </v-app>
   </div>

   <script src="./data.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
   <script src="https://smtpjs.com/v3/smtp.js"></script>

   <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
   <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
   <script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
   <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

   <link href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.7.0/introjs.min.css" rel="stylesheet" />
   <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.7.0/intro.min.js"></script>
   <script src="https://www.google.com/recaptcha/api.js?render=explicit" async defer></script>

   <!-- 引入样式 -->
   <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
   <!-- 引入组件库 -->
   <script src="https://unpkg.com/element-ui/lib/index.js"></script>

   <!-- <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
   <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
   <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
   <script src="https://cdn.amcharts.com/lib/5/locales/de_DE.js"></script>
   <script src="https://cdn.amcharts.com/lib/5/geodata/germanyLow.js"></script>
   <script src="https://cdn.amcharts.com/lib/5/fonts/notosans-sc.js"></script> -->

   <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
   <script src="https://cdn.amcharts.com/lib/5/hierarchy.js"></script>
   <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>


   <script>
      window.onload = function () {
         const loadingMask = document.getElementById('loading-mask'); loadingMask.style.visibility = 'visible'
         setTimeout(function () {
            loadingMask.style.visibility = 'hidden'
            // document.getElementById("loadingline").style.display = "none";
            document.getElementById("main").style.visibility = "visible";
            // document.querySelector("#app > div.v-application--wrap > main").style.display = "none";
         }, 2000);


      }



      new Vue({
         el: '#app',

         vuetify: new Vuetify(),
         data: {
            sitekey: '6LfCs2IgAAAAAEvvUt5zt3VseDbYQtCkDjcSbu_q',
            displayTooltip: false,
            form: {
               name: '',
               email: '',
               conetnt: '',
               level: 3
            },
            isAlertOpen: false,
            AlertMessage: '',
            AlertType: 'success',
            rules: {
               name: [
                  v => !!v || '請填寫大名',
                  v => v.length <= 10 || '不可大於10字元',
               ],
               email: [
                  v => !!v || '請填寫信箱',
                  v => /.+@.+/.test(v) || '信箱格式不正確',
               ],
               conetnt: [
                  v => !!v || '請填寫內容'
               ],
            },
            isdialogVisiable: false,
            readPercentage: 0,
            e13: undefined,
            ChineseName: Mydata.Title.ChineseName,
            EnglishName: Mydata.Title.EnglishName,
            Introduction: Mydata.Introduction['zh-tw'],
            ExperienceList: Mydata.ExperienceList,
            ProjectList: Mydata.ProjectList,
            SidePorjectList: Mydata.SidePorjectList

         },
         methods: {
            onDemoClick: function () {
               introJs()
                  .setOptions({
                     steps: [{
                        title: '歡迎來到謝政剛的履歷',
                        intro: '我這邊將快速為您介紹 👋'
                     },
                     {
                        element: document.querySelector('#DemoStep1'),
                        intro: '這是我的名字'
                     },
                     {
                        element: document.querySelector('#DemoStep2'),
                        intro: '這是我的技能年資'
                     },
                     {
                        element: document.querySelector('#DemoStep3'),
                        intro: '這裡可以直接連絡我'
                     }]
                  })
                  .setOption("skipLabel", "跳過導覽")
                  .setOption("doneLabel", "完成")
                  .start();

            },
            onScrollChange: function () {
               readPercentage = document.scrollingElement.scrollTop / document.body.clientHeight * 100;
            },

            VMessage: function (message, type = 'success') {
               this.AlertMessage = message;
               this.AlertType = type;
               this.isAlertOpen = true;
               window.setTimeout(() => {
                  this.isAlertOpen = false;
               }, 3000);


            },
            onSendMail: function () {
               //驗證是否完成填寫
               if (!this.$refs.form.validate())
                  return;

               var body = `有人聯繫你了! 請盡快回覆<br>
                              <hr>
                              姓名 : ${this.form.name}<br>
                              Email : ${this.form.email}<br>
                              內容 : ${this.form.conetnt}<br>
                              履歷評分 : ${this.form.level}<br>
                              `;


               //發信
               Email.send({
                  SecureToken: "c4ef5ad8-3d86-4c1e-adf5-992958322872",
                  To: 'cs60811@gmail.com',
                  From: "cs60811@gmail.com",
                  Subject: "謝政剛的履歷通知",
                  Body: body
               }).then((message) => {
                  if (message == 'OK') {
                     this.VMessage('發送成功');
                     this.isdialogVisiable = false;
                  } else {
                     this.VMessage('發送失敗', 'error');
                     console.log(message);
                  }


               }

               );
            }
         },
         submit: function (token) {
            console.log(token);
         },

         mounted() {
            var self = this;
            document.addEventListener("scroll", function () {
               if (document.scrollingElement.scrollTop == 0)
                  self.readPercentage = 0;
               else
                  self.readPercentage = (document.scrollingElement.scrollTop + window.innerHeight) / document.body.clientHeight * 100;

            });

            setTimeout(() => {
               this.displayTooltip = true;

               // Create root and chart
               var root = am5.Root.new("chartdiv");

               root.setThemes([
                  am5themes_Animated.new(root)
               ]);

               var container = root.container.children.push(
                  am5.Container.new(root, {
                     width: am5.percent(100),
                     height: am5.percent(100),
                     layout: root.verticalLayout
                  })
               );

               var series = container.children.push(
                  am5hierarchy.ForceDirected.new(root, {
                     downDepth: 1,
                     initialDepth: 2,
                     topDepth: 1,
                     valueField: "value",
                     categoryField: "name",
                     childDataField: "children",
                     minRadius: 20,
                  })
               );

               series.outerCircles.template.states.create("disabled", {
                  fillOpacity: 0.5,
                  strokeOpacity: 0,
                  strokeDasharray: 0
               });

               series.outerCircles.template.states.create("hoverDisabled", {
                  fillOpacity: 0.5,
                  strokeOpacity: 0,
                  strokeDasharray: 0
               });

               series.data.setAll([{
                  name: "Root",
                  value: 0,
                  children: [{
                     name: "全端工程師",
                     children: [{
                        name: "前端",
                        value: 23,
                        children: [{
                           name: "Vue",
                           value: 180
                        },
                        {
                           name: "Angular",
                           value: 11
                        }, {
                           name: "jQuery",
                           value: 16
                        }, {
                           name: "Js",
                           value: 18
                        }, {
                           name: "Css",
                           value: 16
                        }]
                     },
                     {
                        name: "後端",
                        value: 13,
                        children: [{
                           name: ".net ",
                           value: 150,
                           children: [{
                              name: "MSTest",
                              value: 1,
                           }]
                        }, {
                           name: "nodejs",
                           value: 1
                        }, {
                           name: "python",
                           value: 1
                        }]
                     },
                     {
                        name: "其他",
                        value: 23,
                        children: [{
                           name: "Git",
                           value: 5
                        }, {
                           name: "Gitlab",
                           value: 6
                        }, {
                           name: "DevOps",
                           value: 6
                        }, {
                           name: "Docker",
                           value: 6
                        }]
                     },
                     ]
                  }]
               }]);
               series.set("selectedDataItem", series.dataItems[0]);

               setTimeout(function () {
                  document.getElementById('chartdiv').children[0].children[0].children[0].children[1].remove();
               }, 1000);


            }, 3000);



            /*axios
            .get('./data.json')
            .then(response => {
                this.data = data;
            })
            .catch((e) => {
                console.error(e)
            })*/

            //amchart

         }
      })


   </script>



</body>

</html>

<style>
   @keyframes mymove {
      from {
         background-color: red;
      }

      to {
         background-color: blue;
      }
   }

   .icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-size: cover;
   }

   .icon:hover,
   .icon:focus {
      filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
   }

   .icon-demo {
      background-image: url(./img/icon/demo.svg);
      filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);

   }

   .icon-demo {
      background-image: url(./img/icon/demo.svg);
   }

   .icon-facebook {
      background-image: url(./img/icon/facebook.svg);
   }

   .icon-github {
      background-image: url(./img/icon/github.svg);
   }

   .icon-instagram {
      background-image: url(./img/icon/instagram.svg);
   }

   .icon-linkedin {
      background-image: url(./img/icon/linkedin.svg);
   }

   .icon-mail {
      background-image: url(./img/icon/mail.svg);
   }


   .lds-facebook {
      display: inline-block;
      width: 80px;
      height: 80px;
      position: fixed;
      top: 50%;
      left: 50%;
      z-index: 100;
   }

   .lds-facebook div {
      display: inline-block;
      position: absolute;
      left: 8px;
      width: 16px;
      background: #fff;
      animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
   }

   .lds-facebook div:nth-child(1) {
      left: 8px;
      animation-delay: -0.24s;
   }

   .lds-facebook div:nth-child(2) {
      left: 32px;
      animation-delay: -0.12s;
   }

   .lds-facebook div:nth-child(3) {
      left: 56px;
      animation-delay: 0;
   }

   @keyframes lds-facebook {
      0% {
         top: 8px;
         height: 64px;
      }

      50%,
      100% {
         top: 24px;
         height: 32px;
      }
   }

   /* loading 遮罩樣式 */
   #loading-mask {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #ffffff;
      z-index: 9999;
      /* 確保遮罩在最上層 */
      display: flex;
      align-items: center;
      justify-content: center;
   }

   /* 加載動畫樣式 */
   .loader {
      border: 16px solid #f3f3f3;
      /* Light grey */
      border-top: 16px solid #3498db;
      /* Blue */
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
   }

   /* 加載動畫效果 */
   @keyframes spin {
      0% {
         transform: rotate(0deg);
      }

      100% {
         transform: rotate(360deg);
      }
   }

   /* 顯示內容樣式 */
   .content {
      padding: 20px;
   }

   #DemoStep2 {
      width: 300px;
   }
</style>